


.container1 {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.Artist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}
.Artist {
  
  border-radius: 8px;
  width: 250px;
  padding: 15px;
  text-align: side;
}
.Artist img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.Artist h3 {
  color: #ffffff;
  margin: 10px 0;
}
.Artist p4 {
  font-size: 14px;
  color: #ffffff;
  text-align: side;

}
























.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.song-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}
.song-item {
  border-radius: 8px;
  width: 250px;
  padding: 15px;
  text-align: center;
}
.song-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.song-item h3 {
  color: #ffffff;
  margin: 10px 0;
}
.song-item p4 {
  font-size: 14px;
  color: #ffffff;
}







h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-block-start: 0.67;
    margin-block-end: 0.67;
    margin-inline-start: 0%;
    margin-inline-end: 0%;
    unicode-bidi: isolate;
  }


.navbar {

display: flex;
flex-direction: row;
justify-content: center;
justify-content: space-evenly;
background-color: rgb(9, 1, 1);

}





body {




      p { 

  width: 576px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 150px;
  left: 300px;
  font-size: 16px;
  opacity: 1;
  text-align: left;

      }

      p2 { 

        width: 576px;
        color: rgb(255, 255, 255);
        position: absolute;
        top: 340px;
        left: 300px;
        font-size: 16px;
        opacity: 1;
        text-align: left;
      
            }

            p3 { 

              width: 576px;
              color: rgb(255, 255, 255);
              position: absolute;
              top: 440px;
              left: 300px;
              font-size: 16px;
              opacity: 1;
              text-align: left;
            
                  }

.image.img1 {

  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 150px;
  left: 890px;
  overflow: hidden;
}


p1 {
    width: 267px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 650px;
  left: 1150px;
  font-size: 20px;
  opacity: 1;
  text-align: left;

}


div1 {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

background-color: black;





}

